.box{
	background-image: url("https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2Fyc3xlbnwwfHwwfHw%3D&w=1000&q=80");
	background-repeat: no-repeat;
/*	width: 800px;*/
	height: 1000px;
	background-size: 800px 400px;
	background-position: 100px 500px;
}	