.first-img {
    width: 35vw;
    height: 75vh;
    object-fit: cover;
    margin-left: -250px;
    animation-name: img-anim;
    animation-duration: 2.5s;
}
.first-p {
    padding: 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    animation-name: paragraph;
    animation-duration: 2.5s;
}
.first-h {
    margin-top: 40px;
    color: #1b2f45;
    font-size: 2rem;
    font-family: sans-serif;
}
.second-h {
    color: #29486a;
    font-size: 1.5rem;
    margin-top: 40px;
}
.third-p {
    color: #2b180d;
    font-size: 1.3rem;
    margin-top: 40px;
}
section {
    margin-bottom: 200px;
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 60vh;
}
.first-div {
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
}
.section-left {
    width: 50%;
}
.section-right {
    margin-left: 50px;
    margin-top: 150px;
    padding: 40px;
    animation-name: selection;
    animation-duration: 2.5s;
}
@keyframes img-anim {
    0% {
        opacity: 1;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}@keyframes selection {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes paragraph {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}